# Demonstration of simple tuples

In [ ]:
t=()
print(type(t))

In [ ]:
t1=tuple()
print(type(t1))

In [ ]:
t=(12,35, -3)
print(t)

In [ ]:
t=(23,'hello', 3.4, 12)
print(t)

In [ ]:
# create tuple with single element
t=(3)
print(type(t))    #will be treated as integer

In [ ]:
t =(3,)   # tuple with single element
print(type(t))
print(t)

In [ ]:
# paranthesis is not mandatory
t=1,2,3
print(type(t))
print(t)

In [ ]:
# creating tuple using string
s='Hello'
t=tuple(s)
print(t)

In [ ]:
# creating a tuple using a list
ls=[12, -3, 'hi', [5,6], 35]
t=tuple(ls)
print(t)

In [ ]:
# creating a tuple from another tuple
t1= 23, 78, 32
print('t1 is', t1)
print('ID is: ', id(t1))
t2=tuple(t1)
print('t2 is', t2)
print('ID is: ', id(t2))    #creates just a reference to existing object

In [ ]:
# Indexing and slicing on tuples

t= 'Mango', 'Banana', 'Apple'
print(t[1])

In [ ]:
print(t[1:])

In [ ]:
print(t[-1])

In [ ]:
# As tuples are immutable, one cannot alter its contents
# Instead, we can slice and create new tuple

t= ('Mango', 'Banana', 'Apple')
# t[0]= 'Papaya'       Error!!
print(t)

t = ('Papaya',) + t[1:]
print(t)

# Assignment of tuples

In [ ]:
x,y=10,20
print(x)
print(y)

In [ ]:
# Assigning list to tuple
ls=[3,4]
x,y=ls
print(x)
print(y)

In [ ]:
# Swapping of two numbers
a=10
b=20
a,b=b,a
print(a, b)

In [ ]:
# excess value assignment
x,y= 10,20,30

In [ ]:
# less number of values
x,y,z=10,20

In [ ]:
# Extracting User Name and domain name from email ID

email='chetanahegde@ieee.org'
userName, domainName=email.split('@')
print('User name is: ', userName)
print('Domain name is :', domainName)

In [ ]:
# Using dictionaries and tuples

d={'a':1, 'b':25, 'c':12}
ls=list(d.items())
print(ls)

In [ ]:
d={'Tom':3156, 'Jerry':7812, 'Donald':2102, 'Mickey':9012}
ls=list(d.items())
print('Original list:\n',ls)
ls.sort()
print('Sorted list:\n', ls)

In [ ]:
# Write a program to sort words of a given sentence from longest to smallest

txt = 'Ram and Seeta went to forest with Lakshman'
words = txt.split()
t = list()
for word in words:
    t.append((len(word), word))

print('The list is:\n',t)    
t.sort(reverse=True)
res = list()

for length, word in t:
    res.append(word)
print('The sorted list:\n',res)

In [6]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [5]:
s=input('Enter a string:')
ls=s.split(' ')
print('Original list:',ls)
ls.sort(key=len, reverse=True)
print("Result:", ls)

Enter a string:ram and seeta went to forest with lakshman
Original list: ['ram', 'and', 'seeta', 'went', 'to', 'forest', 'with', 'lakshman']
Result: ['lakshman', 'forest', 'seeta', 'went', 'with', 'ram', 'and', 'to']